<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/venobox/venobox.css" type="text/css" media="screen"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="static/css/cropper.css" rel="stylesheet"/>
    <link href="static/css/cropper-demo.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="static/css/templatemo-main.css">
    <link rel="stylesheet" type="text/css" href="static/css/simditor/simditor.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/search-form.css">
    <style>
        .select {
            height: 30px;
            float: left;
            margin-left: 1px;
            display: inline-block;
            font-size: large;
            width: 300px;
            position: relative;
            vertical-align: middle;
            padding: 0;
            overflow: hidden;
            background-color: #fff;
            color: #555;
            border: 1px solid #aaa;
            text-shadow: none;
            border-radius: 4px;
            transition: box-shadow 0.25s ease;
            z-index: 2;
        }

        .select:hover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        }

        .select:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #ccc;
            top: 14px;
            right: 10px;
            cursor: pointer;
            z-index: -2;
        }

        .select select {
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .select select:focus {
            outline: none;
        }
    </style>
    <script src="static/js/uploadImg.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/uploadImg.css">
    <script type="text/javascript" src="static/js/cropper.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/tags.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <style>
        .simditor {
            text-align: left;
            padding: auto;
            border: none;
        }

        .simditor .image-popover {
            height: 150px;
        }

        .simditor .image-src {
            color: #000000;
            border: 1px solid #09ffe7;
            margin-bottom: 2px;
        }

        .simditor .settings-field {
            margin-bottom: 20px;
        }

        .simditor .image-alt {
            color: #000000;
            border: 1px solid #09ffe7;
            margin-bottom: 2px;
        }

        .simditor .image-size {
            color: #000000;
            border: 1px solid #09ffe7;
            margin-bottom: 2px;
        }
    </style>
</head>

<body>

<div class="sequence">

    <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg"
             class="seq-preload-indicator">
            <g fill="#F96D38">
                <path class="seq-preload-circle seq-preload-circle-1"
                      d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/>
                <path class="seq-preload-circle seq-preload-circle-2"
                      d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/>
                <path class="seq-preload-circle seq-preload-circle-3"
                      d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/>
            </g>
        </svg>
    </div>

</div>


<nav>
    <div class="logo">
        <img src="static/img/logo.png" alt="">
    </div>
    <ul>
        <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
        <li><a href="#2"><i class="fa fa-user"></i> <em>About</em></a></li>
        <li><a href="#3"><i class="fa fa-image"></i> <em>Work</em></a></li>
        <li><a href="#4" th:if="${user.id} eq ${session.user.id}"><i class="fa fa-pencil"></i> <em>Edit</em></a></li>
        <li><a href="#5" th:if="${user.id} eq ${session.user.id}"><i class="fa fa-upload"></i> <em>Upload</em></a></li>
        <li>
            <div class="search-wrapper">
                <form th:action="@{/search}" method="get">
                    <div class="input-holder">
                        <input type="text" autocomplete='off' class="search-input" placeholder="Type to search"
                               name="keyword"/>
                        <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
                    </div>
                    <span class="close" onclick="searchToggle(this, event);"></span>
                    <div class="result-container">

                    </div>
                </form>
            </div>
        </li>
    </ul>
</nav>
<script th:inline="javascript">
    var user = [[${user}]];
    var currentUser = [[${session.user}]]
</script>
<script>
</script>

<div class="slides">
    <div class="slide" id="1">
        <div class="content first-content">
            <div class="container-fluid">
                <div class="col-md-4">
                    <div class="preview-container">
                        <div class="large-wrapper">
                            <div class="image-container large">
                                <img th:src="${user.avatar}" class="noavatar"/>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2 th:text="${user.name}"></h2>
                    <p th:text="${user.description}">Undergraduate From Nanjing University,Graduated in <em>2019</em>
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <!--<div class="main-btn" th:if="${user.id} ne ${session.user.id}"><a href="#2">Follow <i-->
                            <!--class="fa fa-plus"></i></a></div>-->
                    <div class="fb-btn"><a href="chat" target="_blank">Message <i
                            class="fa fa-envelope"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="2">
        <div class="content second-content">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>About Me</h2>
                        <p th:text="${user.boardMessage}"></p>

                        <div class="main-btn"><a href="#3">See My Work!</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="static/img/about_image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="3">
        <div class="content fourth-content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4 col-sm-6" th:each="work:${works}">
                        <div class="item">
                            <div class="thumb">
                                <a class="venobox" data-vbtype="iframe" th:href="@{work(workId=${work.id})}"
                                   data-lightbox="image-1">
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h2 th:text="${work.title}"></h2>
                                            <p th:text="${work.description}"></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="image">
                                    <img th:src="${work.imgPath}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="4">
        <div class="content fifth-content">
            <div class="container-fluid">
                <div class="col-md-6">
                    <!--<div id="map">-->
                    <!--<iframe src="" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                    <!--</div>-->
                    <form method="post" th:action="@{/avatar/edit}" th:object="${user}" enctype="multipart/form-data"
                          ng-app="cropperDemo">
                        <p>
                            <button class="btn-upload btn-lg" style="float: left">Select</button>
                            <input type="file" name="avatar1" id="cropper-input"/>
                            Support formats: JPG, PNG
                        </p>
                        <div class="preview-container">
                            <div class="image-container target" id="cropper-target">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                     class="noavatar"/>
                            </div>
                            <div class="large-wrapper">
                                <div class="image-container large" id="preview-large">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                         class="noavatar"/>
                                </div>
                                <p></p>
                            </div>
                            <!--<div>-->
                            <!--<div class="image-container medium" cropper-preview="avatar">-->
                            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />-->
                            <!--</div>-->
                            <!--<p>Medium</p>-->
                            <!--<div class="image-container small" cropper-preview="avatar">-->
                            <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />-->
                            <!--</div>-->
                            <!--<p>Small</p>-->
                            <!--</div>-->
                        </div>
                        <input type="hidden" id="x" name="x" th:field="*{avatar_x}"/>
                        <input type="hidden" id="y" name="y" th:field="*{avatar_y}"/>
                        <input type="hidden" id="w" name="w" th:field="*{avatar_w}"/>
                        <input type="hidden" id="h" name="h" th:field="*{avatar_h}"/>
                        <button type="submit" id="avatar-submit" class="btn">Upload an avatar</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form id="contact" th:action="@{/userinfo/edit}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-label-group">
                                    <input name="name" type="text" autocomplete='off' class="form-control" id="name"
                                           th:field="*{name}"
                                           placeholder="Your name..." required="">
                                    <label for="name">You name...</label>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset class="form-label-group">
                                    <input name="subject" type="password" autocomplete='off' class="form-control"
                                           id="password"
                                           th:field="*{password}" placeholder="Your new password ..." required="">
                                    <label for="password">Your new password...</label>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset class="form-label-group">
                                    <input name="subject" type="password" class="form-control" id="passwordConfirm"
                                           placeholder="Confirm your password.." required="">
                                    <label for="passwordConfirm">Confirm your password...</label>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" autocomplete='off' class="form-control"
                                              id="description"
                                              th:field="*{description}" placeholder="About you..."
                                              required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Confirm Changes</button>
                                </fieldset>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var password = document.getElementById("password");
                            var confirm_password = document.getElementById("passwordConfirm");

                            function validatePassword() {
                                if (password.value !== confirm_password.value) {
                                    confirm_password.setCustomValidity("Passwords Don't Match.");
                                } else {
                                    confirm_password.setCustomValidity('');
                                }
                            }

                            password.onchange = validatePassword;
                            confirm_password.onkeyup = validatePassword;
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="5">
        <div class="content fifth-content">
            <div class="container-fluid">
                <form id="upBox" th:action="@{/user/upload}" th:object="${work}" enctype="multipart/form-data"
                      method="post">
                    <div id="inputBox">
                        <input type="file" name="file" title="请选择图片" id="file" multiple="multiple"
                               accept="image/png,image/jpg,image/gif,image/JPEG"/>SELECT

                    </div>
                    <div style="margin-top: 20px;">
                        <fieldset class="form-label-group">
                            <input name="name" autocomplete='off' type="text" class="form-control" id="title"
                                   th:field="*{title}"
                                   placeholder="Your Title.." required="">
                            <label for="title"></label>
                        </fieldset>
                    </div>

                    <div id="imgBox">
                    </div>

                    <select class="select" name="filter" th:field="*{kind}">
                        <option value="男装" selected>男装</option>
                        <option value="女装">女装</option>
                        <option value="童装">童装</option>
                        <option value="内衣">内衣</option>
                        <option value="礼服">礼服</option>
                        <option value="大赛">大赛</option>
                        <option value="配饰">配饰</option>
                        <option value="针织">针织</option>
                        <option value="图案">图案</option>
                        <option value="陈列">陈列</option>
                        <option value="家纺">家纺</option>
                        <option value="职业">职业</option>
                        <option value="其他">其他</option>
                    </select>
                    <br/><br/><br/>

                    <div class="box">
                        <h5 style="text-align: left; color:#ffffff">添加标签</h5>
                        <div class="tagsinput-primary form-group">
                            <input name="tagsinput" id="tagsinputval" class="tagsinput" data-role="tagsinput" value=""
                                   placeholder="输入后回车"/>
                            <!--<button class="btn" onclick="getinput()">获取输入的值</button>-->
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <fieldset>
                                    <textarea name="message" rows="6" th:field="*{description}"
                                              placeholder="Write your work description here..."
                                              required="" id="editor"></textarea>
                        </fieldset>
                    </div>
                    <div>
                        <input type="submit" id="btn" value="Upload your work!" style="float: left">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="content">
        <p>Copyright &copy; 2019.WeDesign All rights reserved.</p>
    </div>
</div>


<script src="static/js/vendor/jquery-1.11.2.min.js"></script>
<script src="static/js/tagsinput.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="static/js/venobox/venobox.min.js"></script>
<script type="text/javascript" src="static/js/simditor/module.js"></script>
<script type="text/javascript" src="static/js/simditor/hotkeys.js"></script>
<script type="text/javascript" src="static/js/simditor/uploader.js"></script>
<script type="text/javascript" src="static/js/simditor/simditor.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/datepicker.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //initialize venobox
        $('.venobox').venobox();
        // navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });

    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop: targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }

    if (typeof console === "undefined") {
        console = {
            log: function () {
            }
        };
    }
</script>
<script>
    var cropper = new Cropper({
        element: document.getElementById('cropper-target'),
        previews: [
            document.getElementById('preview-large')
        ],
        onCroppedRectChange: function (rect) {
            console.log(rect);
            document.getElementById("x").value = rect.left;
            document.getElementById("y").value = rect.top;
            document.getElementById("w").value = rect.width;
            document.getElementById("h").value = rect.height
            console.log(document.getElementById("x").value)
        }
    });
    var input = document.getElementById('cropper-input');
    input.onchange = function () {
        if (typeof FileReader !== 'undefined') {
            var reader = new FileReader();
            reader.onload = function (event) {
                cropper.setImage(event.target.result);
            };
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        } else { // IE10-
            input.select();
            input.blur();

            var src = document.selection.createRange().text;
            cropper.setImage(src);
        }
    };
</script>
<script type="text/javascript">
    imgUpload({
        inputId: 'file', //input框id
        imgBox: 'imgBox', //图片容器id
        buttonId: 'btn', //提交按钮id
        upUrl: '/testController/uploadImg',  //提交地址
        data: 'file', //参数名
        num: "3"//最多上传图片个数
    })
</script>
<script type="text/javascript">
    (function () {
        $(function () {
            var $preview, editor, mobileToolbar, toolbar;
            Simditor.locale = 'en-US';
            toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'];
            editor = new Simditor({
                textarea: $('#editor'),
                placeholder: '这里输入文字...',
                toolbar: toolbar,
                pasteImage: true,
                defaultImage: 'assets/images/image.png',
                upload: location.search === '?upload' ? {
                    url: '/upload'
                } : true
            });
            $preview = $('#preview');
            if ($preview.length > 0) {
                return editor.on('valuechanged', function (e) {
                    return $preview.html(editor.getValue());
                });
            }
        });

    }).call(this);
</script>
<!--搜索框js-->
<script type="text/javascript">
    function searchToggle(obj, evt) {
        var container = $(obj).closest('.search-wrapper');

        if (!container.hasClass('active')) {
            container.addClass('active');
            evt.preventDefault();
        } else if (container.hasClass('active') && $(obj).closest('.input-holder').length == 0) {
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
            // clear and hide result container when we press close
            container.find('.result-container').fadeOut(100, function () {
                $(this).empty();
            });
        }
    }

    function submitFn(obj, evt) {
        value = $(obj).find('.search-input').val().trim();

        _html = "Yup yup! Your search text sounds like this: ";
        if (!value.length) {
            _html = "Yup yup! Add some text friend :D";
        } else {
            _html += "<b>" + value + "</b>";
        }

        $(obj).find('.result-container').html('<span>' + _html + '</span>');
        $(obj).find('.result-container').fadeIn(100);

        evt.preventDefault();
    }
</script>
<script type="text/javascript">
    function getinput() {
        alert($('#tagsinputval').val());
    }
</script>

<!--&lt;!&ndash;-->

<!--select   &#45;&#45;  name 可以接收选择的值【用于表单提交  名称自定义】-->

<!--option   &#45;&#45;  1.  value    传给后台的参数-->
<!--1.  selected 设置默认选中-->
<!--2.  disabled 设置禁止选则-->

<!--&ndash;&gt;-->
<!--<script type="text/javascript" src="static/js/selectFilter.js"></script>-->
<!--<script type="text/javascript">-->
<!--//本小插件支持移动端哦-->

<!--//这里是初始化-->
<!--$('.filter-box').selectFilter({-->
<!--callBack : function (val){-->
<!--//返回选择的值-->
<!--console.log(val+'-是返回的值')-->
<!--}-->
<!--});-->
<!--</script>-->
</body>
</html>